@media screen and (max-width: 1000px) {
    .bockbuster-img1 {
        width: 30vw;
    }

    .sealdeal-1 {
        display: grid;
        grid-template-columns: auto auto;
    }

    .junior-1 {
        display: grid;
        grid-template-columns: auto auto;
    }
}