@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e4e4;
}

header {
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #212121;
}

.logo {
    margin: auto;
}

.logo img {
    height: 55px;
}

.head-content {
    display: block;
    justify-self: end;
    width: 76vw;
    font-size: 12px;
    font-family: sarabun;
    text-transform: capitalize;
    font-weight: 600;
}

/* upper head */
.head-upper {
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    padding: 0 8vw 0 0px;
}

.up-1 {
    color: white;
    margin-left: 15px;
}

.up-2 {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: auto;
}

.up-2-1 {
    padding-left: 30px;
    text-align: right;
}

.up-2-1 a {
    color: white;
    text-decoration: none;
}

/* lower head */
.head-lower {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.categ {
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 20px 5px;
}

.categ i {
    margin-left: 0.6vw;
}

.categ:hover {
    background-color: white;
    color: black;

    i {
        transform: rotate(180deg);
    }
}

.brands {
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 20px 5px;
}

.brands i {
    margin-left: 0.6vw;
}

.brands:hover {
    background-color: white;
    color: black;

    i {
        transform: rotate(180deg);
    }
}

/* searchbar */
.search {
    width: 40vw;
    /* padding: 0 0 0 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    background-color: #4a4a4a;
    border-radius: 4px;
}

.search input {
    height: 40px;
    width: 39vw;
    color: #b9b9b9;
    font-size: 1rem;
    border: none;
    background-color: #4a4a4a;
    border-radius: 4px;
}

.search i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.search:focus-within {
    background-color: white;

    i {
        color: black;
    }

    input {
        background-color: white;
        color: black;
    }
}

.search input:focus-visible {
    outline: none;
}

.hrt {
    color: white;
    font-size: 1.2rem;
    padding: 0 26px 0 10px;
}

.hrt:hover {
    cursor: pointer;
    animation: size 120ms;
    transform: scale(1.3);
}

@keyframes size {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
    }
}

.bag {
    color: white;
    font-size: 1.2rem;
    padding: 0 0 0 25px;
    margin: 0 0 0 -50px;
}

.bag:hover {
    cursor: pointer;
    animation: size 120ms;
    transform: scale(1.3);
}

/* main */
main {
    height: calc(100% - 100px - 60px - 450px);
    min-height: calc(100vh - 100px - 60px - 450px);
}

.banner {
    display: flex;
    overflow: auto;
    height: 31.15vw;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-size: contain;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.box {
    width: 8%;
}

.box img {
    width: 100%;
}

.pay-off {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.pay-off img {
    margin: 0 10px;
    border-radius: 3px;
    width: 22vw;
    height: auto;
}

.blockbuster {
    display: flex;
    justify-content: center;
    font-family: poppins;
    font-size: 2.5rem;
    margin: 50px 0;
    font-weight: 550;
}

.blockbuster-img1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockbuster-img1 img {
    margin: 5px 5px;
    border-radius: 35px;
    width: 45vw;
}

.blockbuster-img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.blockbuster-img2 img {
    margin: 5px;
    border-radius: 35px;
    width: 45vw;
}

.sealdeal {
    display: flex;
    justify-content: center;
    font-family: poppins;
    font-size: 2.5rem;
    margin: 50px 0;
    font-weight: 550;
}

.sealdeal-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.sealdeal-1 img {
    margin: 0 10px;
    height: 45vh;
    border-radius: 22px;
}

.junior {
    display: flex;
    justify-content: center;
    font-family: poppins;
    font-size: 2.5rem;
    margin: 50px 0;
    font-weight: 550;
}

.junior-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.junior-1 img {
    margin: 0 10px;
    height: 45vh;
    border-radius: 22px;
}

/* footer */
footer {
    background-color: white;
}

.foot-trst {
    height: 114px;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-content: flex-end;
}

.trst-1 {
    margin-left: 200px;
    margin-bottom: -20px;
    z-index: 1;
}

.foot-2 {
    height: 450px;
    display: flex;
    justify-content: space-around;
    margin: 0 5vw;
    padding: 45px 0;
    font-family: 'open sans';
    font-size: 0.7rem;
}

.marketplace,
.customer,
.mytata,
.offering {
    margin: 0 0 20px;
    font-family: sarabun;
    font-size: 0.8rem;
    font-weight: 700;
}

.foot-2-1,
.foot-2-2,
.foot-2-3 {
    width: 21%;
    display: inline-grid;
}

.foot-2-4 {
    width: 36%;
    font-size: 0.75rem;
    word-spacing: 2.5px;
}

.foot-2-1 a,
.foot-2-2 a,
.foot-2-3 a,
.foot-2-4 a {
    text-decoration: none;
    color: #212121;
    margin: 0;
    padding: 0;
}

.foot-2-1,
.foot-2-2,
.foot-2-3,
.foot-2-4 {
    height: 400px;
}

.foot-3 {
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 99.7%;
    padding-left: 0.3vw;
    background-color: #f8f3f3;
}

.download p {
    font-size: 0.85rem;
    font-family: 'open sans';
}

#android {
    margin-left: 2vw;
    font-size: 1.2rem;
}

#apple {
    margin-left: 2vw;
    font-size: 1.2rem;
}

.foot3-download {
    display: flex;
    align-items: center;
}

.foot3-social {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.foot3-social i {
    margin: 0 4px;
}

.foot3-rights {
    font-family: 'open sans';
    font-size: 0.85rem;
    width: 19vw;
    color: #3c3c3c;
}

.foot-4 {
    font-family: 'open sans';
    font-size: 0.8rem;
}

.foot-4 b {
    display: block;
    margin: 20px 0;
}